<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerpointHymnalMP3Player.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PowerpointHymnalMP3Player.Properties.Settings>
            <setting name="Activated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SlideNumber" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>VLC</value>
            </setting>
        </PowerpointHymnalMP3Player.Properties.Settings>
    </userSettings>
</configuration>